# --- Backend (Python) ---
**/__pycache__/
*.py[cod]
*$py.class
.env
**/venv/
**/.venv/
**/chroma_db/

# --- Frontend (Flutter) ---
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# --- General ---
.vscode/
.idea/
.DS_Store
*.log